.header {
    height: 4rem;
    margin: 0 auto;
    border-bottom: 1px solid #ccc;
    justify-content: space-between;

    .headerNav {
        .headerNav-list {
            display: flex;

            .headerNav-item {
                margin: 0 1rem;

                .headerNav-link {
                    text-decoration: none;
                }
            }
        }
    }

}