@import '../../Scss/Styles.scss';

.list {
    height: 25rem;
    line-height: 2.5rem;
    padding: 4rem 2rem;

    .listTitle {
        margin-bottom: 1.5rem;
        font-size: 1.5rem;
        text-align: center;
    }

    .listContainer {
        display: flex;

        .textContent {
            margin: auto;
        }

        .textContent, 
        .listContent {
            width: 50%;
        }

        .listContent {
            display: flex;
            opacity: 0.65;
            padding: 1.5rem 0;
            justify-content: center;
            background-color: lightgray;

            .listSkills {
                text-align: right;
                margin-right: 0.5rem;
            }

            .listLevel {
                text-align: left;
                margin-left: 0.5rem;
            }
        }
    }


    // .textContent {
    //     width: 50%;
    // }

    // .listContainer {
    //     display: flex;
    //     justify-content: center;
    // }

    // .listContent {
    //     display: flex;
    //     justify-content: center;

    //     .listSkills {
    //         text-align: right;
    //         margin-right: 0.5rem;
    //     }

    //     .listLevel {
    //         text-align: left;
    //         margin-left: 0.5rem;
    //     }
    // }
}
