@import '../../Scss/Styles.scss';

.sliceContainer {
    bottom: 5rem;
    display: flex;
    position: relative;
    justify-content: center;

    .buttonSlice {
        width: 5rem;
        height: 5rem;
        border: none;
        cursor: pointer;
        border-radius: 100%;
        background-color: $button-color;
    
        .buttonLink {
            color: white;
            text-decoration: none;
        }
    }

}

