@import '../../Scss/Styles.scss';

.header {
    height: $header-height;
    margin: 0 auto;
    border-bottom: 1px solid $border-color;
    justify-content: space-between;
    
    .headerNav {
        position: fixed;
        height: calc(100vh - #{$header-height});
        width: 80vw;
        top: $header-height;
        right: -80vw;
        background-color: black;

        .headerNav-list {

            .headerNav-item {
                margin: 0 3rem;

                .headerNav-link {
                    text-decoration: none;
                }
            }
        }
    }
}
