@import '../../Scss/Styles.scss';

.header {
    margin: 0 auto;
    height: $header-height;
    justify-content: space-between;
    
    .headerNav {
        display: flex;
        align-items: center;

        .headerNav-list {
            display: flex;
            margin-right: 3rem;

            .headerNav-item {
                margin: 0 3rem;

                .headerNav-link {
                    text-decoration: none;
                }
            }

            .headerNav-item:nth-child(3) {
                margin-right: 0;
              }
        }

        .headerNav-button {
            border: none;
            color: white;
            border-radius: 3.5px;
            padding: 0.5rem 2rem;
            background: $button-color;
        }

    }

    .modalContainer {
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        opacity: 0;
        width: 100vw;
        height: 100vh;
        z-index: 1000;
        display: flex;
        position: fixed;
        align-items: center;
        pointer-events: none;
        flex-direction: column;
        justify-content: center;
        transition: opacity 0.25s ease-in-out;
        background-color: rgba(0, 0, 0, 0.3);
    }
    
    .modalShowing-true {
        opacity: 1;
        pointer-events: visible;
    }
}

@media screen and (max-width: 768px) {
    .header {
        .headerNav {
            display: none;
        }
    }
}
