@import '../../Scss/Styles.scss';

.header {
    height: $header-height;
    margin: 0 auto;
    border-bottom: 1px solid $detail-color;
    justify-content: space-between;
    
    .headerNav {
        display: block;

        .headerNav-list {
            display: flex;

            .headerNav-item {
                margin: 0 3rem;

                .headerNav-link {
                    text-decoration: none;
                }
            }

            .headerNav-item:nth-child(3) {
                margin-right: 0;
              }
        }
    }
}
